[Unit]
Description=myapp daemon
After=redis-server.service nginx.service mysql.service
Wants=redis-server.service mysql.service

[Service]
Type=forking
ExecStart=/opt/myapp/myapp.sh start
ExecStop=/opt/myapp/myapp.sh stop
#Restart=always
#RestartSec=5s
#StartLimitInterval=0

[Install]
WantedBy=multi-user.target
