Source: my-goframe
Section: unknown
Priority: extra
Maintainer: xiaobin.zhao@cstackdev.io
Build-Depends: debhelper (>=9), build-essential, golang
Homepage: https://gitee.com/xiaobin_zhao/my-gf
Package: my-goframe
Version: 1.0.0
Architecture: amd64
Depends:
Recommends:
Description: go web framework base on GoFrame.
